<template>
  <div class="quiz">
    <div v-if="step < questions.length">
      <p v-if="step === 0">👋🏾 Cliquez sur la bonne réponse.</p>
      <div class="question">{{ parseInt(step) + 1 }} / {{ questions.length }} 👉🏾 {{ questions[step].question }}</div>
      <ul class="answers" v-if="!answered">
        <li v-for="(answer, index) in questions[step].answers" :key="index" @click="checkAnswer(index)"> 
          <p >{{ answer }}</p>
        </li>
      </ul>
      <div v-if="answered">
        <p v-if="isCorrect" class="correct">Bonne réponse! 🥳</p>
        <p v-else class="incorrect">Mauvaise réponse. 🤯<br> <span class="black">La bonne réponse est :</span> <span class="reponse">{{ questions[step].explanation }}</span> </p>
        <button @click="next">Question suivante</button>
      </div>
    </div>
    <div v-else>
      <div>🥳 Quiz terminé ! Votre score: <b>{{ score }} / {{ questions.length }}</b> 🥳</div>
      <button @click="restartQuiz">Recommencer</button>
    </div>
  </div>
</template>

<script>
import questions from './quiz_questions_tcpudp.json';

export default {
  data() {
    return {
      step: 0,
      score: 0,
      questions: questions,
      isCorrect: false,
      answered: false
    };
  },
  methods: {
    checkAnswer(index) {
      this.isCorrect = index === this.questions[this.step].correct;
      if (this.isCorrect) {
        this.score++;
      }
      this.answered = true;
    },
    restartQuiz() {
      this.step = 0;
      this.score = 0;
      this.answered = false;
    },
    next() {
      this.step++;
      this.answered = false;
      setTimeout(() => {
        window.scrollTo({
        top: document.body.scrollHeight, // Scroll vers le bas de la page
        behavior: 'smooth' // Défilement doux
      });
      }, 300);
    }
  }
};
</script>

<style>
/* Ajoutez ici le style CSS de votre quiz */
.correct {
  display: block;
  border: 1px solid #ccc;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #4caf50;
  color: white;
}
.incorrect {
  color: red;
}
.black {
  color: black;
}
.quiz li{
  cursor: pointer;
  list-style-type: none;
  margin: 0.5em 0;
  padding: 0.5em;
  border: 1px solid #ccc;
  transition: all 0.5s ease-in-out;
}

.quiz li:hover {
  background-color: #4caf50;
  transition: all 0.5s ease-in-out;
  text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  transition: all 0.4s ease 0s;
}
.quiz li:hover p{
  color: white;
  transition: all 0.5s ease-in-out;
}
.quiz li p{
  transition: all 0.5s ease-in-out;
}
.quiz .question {
  font-weight: bold;
  background-color: #eee;
  padding: 0.2em 0.5em;
}
.quiz button {
  margin-top: 1em;
  padding: 0.5em;
  border: 1px solid #ccc;
  background-color: #eee;
  cursor: pointer;
  font-size: 1em;
  margin-bottom: 200px;
  transition: all 0.5s ease-in-out;
}
.quiz button:hover {
  background-color: #4caf50;
  transition: all 0.5s ease-in-out;
  text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  transition: all 0.4s ease 0s;
  color: white;
}
.reponse {
  border: 1px solid #ccc;
  padding: 5px;
  border-radius: 5px;
  background-color: #4caf50;
  color: white;
}
</style>
